{% extends 'base.html.twig' %}

{% block title %}Hello HandleUsersController!{% endblock %}

{% block body %}

<div class="wrapper-handle">

    <h1>Formulaire utilisateur</h1>

    {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}

        {% if app.request.attributes.get('_route') == 'handle_users'  %}
            {{ form_row(form.password) }}
        {% endif %}

        {{ form_row(form.email) }}
        {{ form_row(form.login) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.status) }}
        <div>
            <button type="submit" id="handle_users_submit" class="handleBtn">Register</button>
            <a href="{{ path('users_list') }}" class="returnBtn">Retour</a>
        </div>
    {{ form_end(form) }}

</div>


{% endblock %}
