{% extends 'base.html.twig' %}

{% block title %}Hello UsersListController!{% endblock %}

{% block body %}
<style>

body {
    margin:0;
    padding:0
}

header {
    background: #6EB3BE;
}

.nav {
 color: #fff;
 width:50%;
 margin:auto;
 padding:20px;
}


.text-transform {
    text-transform: uppercase;
}

.title-header {
font-size: 20px;
font-weight: 900;

}

.addUserBtn {
    width: 180px;
    background: #6EB3BE;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    color: #FFF;
    float: right;
    margin-bottom: 20px;
}

  .wrapper {
    width: 50%;
    margin: 30px auto;
    display: block;
    font-family: 'Open Sans', sans-serif;
   }

   .wrapper h1 {font-size:22px;}

   th, td {
    width:130px;
    padding:20px;
    text-align: center;
   }

   .tableUsersList {
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        border: none;
        border-collapse: collapse;
   }


    .tableUsersList td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }

    .tableUsersList thead th {
        color: #ffffff;
        background: #4FC3A1;
    }

    .tableUsersList thead th:nth-child(odd) {
        color: #ffffff;
        background: #324960;
    }

    .tableUsersList tr:nth-child(even) {
        background: #F8F8F8;
    }



</style>

<div class="wrapper">
    <h1>Liste des utilisateurs</h1>

    <div class="container-list">

        <a href="{{ path('handle_users') }}" class="addUserBtn">Ajouter un utilisateur</a>

        <table class="tableUsersList">

            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.roles[0] }}</td>
                        <td>{{ user.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}
