{% extends 'base.html.twig' %}

{% block title %}Hello UsersListController!{% endblock %}

{% block body %}
<style>


</style>

<div class="wrapper">
    <h1>Liste des utilisateurs</h1>

    <div class="container-list">

        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('handle_users') }}" class="addUserBtn">Ajouter un utilisateur</a>
        {% endif %}

        <table class="tableUsersList">

            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}

                    {% if is_granted('ROLE_SUPER_ADMIN')  %}

                        {% if user.roles[0] == 'ROLE_ADMIN' or user.roles[0] == 'ROLE_CUSTOMER' %}

                            <tr>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.login }}</td>
                                <td>{{ user.roles[0] }}</td>

                                <td>
                                    <span id="spanStatus">{{ user.status }}</span>
                                    <form action="{{ path('update_ajax', { 'id': user.id }) }}" method="post">
                                        <select name="selectStatus" class="form-control status">
                                            <option class="optionStatusBtn" value="{{ user.status }}"></option>
                                            <option class="optionStatusBtn" value="valide">validé</option>
                                            <option class="optionStatusBtn" value="en attente">en attente</option>
                                            <option class="optionStatusBtn" value="desactive">desactive</option>
                                        </select>
                                        <input type="hidden" id="idUser"value="{{ user.id }}">
                                        <input type="submit" value="Update">
                                    </form>

                                </td>
                                <td>
                                    <a href="{{ path('handle_users_edit', {'id' : user.id })}}">Modifier</a>
                                </td>
                            </tr>

                        {% endif %}

                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')  %}

                        {% if user.roles[0] == 'ROLE_CUSTOMER' %}

                            <tr>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.login }}</td>
                                <td>{{ user.roles[0] }}</td>

                                <td>
                                    <span id="spanStatus">{{ user.status }}</span>
                                    <form action="{{ path('update_ajax', { 'id': user.id }) }}" method="post">
                                        <select name="selectStatus" class="form-control">
                                            <option class="optionStatusBtn" value="{{ user.status }}"></option>
                                            <option class="optionStatusBtn" value="valide">validé</option>
                                            <option class="optionStatusBtn" value="en attente">en attente</option>
                                            <option class="optionStatusBtn" value="desactive">desactive</option>
                                        </select>
                                        <input type="hidden" id="idUser"value="{{ user.id }}">
                                        <input type="submit" value="Update">
                                    </form>

                                </td>
                                <td>
                                    <a href="{{ path('handle_users_edit', {'id' : user.id })}}">Modifier</a>
                                </td>
                            </tr>

                        {% endif %}

                    {% endif %}

                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}

{% block javascripts %}

    <script language="javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script language="javascript">

        $(document).ready(function(){
            $('select.status').on('change',function () {
                // On recupere la valeur du select si il change
                let decision = $(this).val();
                let id = $('#idUser').val();
                let spanStatus = $('#spanStatus').text();

                alert(decision);
                alert(spanStatus);
                alert(id);

                $.ajax({
                    type:"POST",
                    url:{{ path('update_ajax',{'id' : id}) }},
                    data: {
                        decision:decision,
                        spanStatus:spanStatus
                    },
                    success:function(msg) {
                        alert(msg);
                    }
                })


            });
        });

    </script>

{% endblock %}
