{% extends 'base.html.twig' %}

{% block title %}Hello UsersListController!{% endblock %}

{% block body %}
<style>


</style>

<div class="wrapper">
    <h1>Liste des utilisateurs</h1>

    <div class="container-list">

        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('handle_users') }}" class="addUserBtn">Ajouter un utilisateur</a>
        {% endif %}

        <div class="flashMessage">
            <span class="spanFlashMessage"></span>
        </div>

        <table class="tableUsersList">

            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}

                    {% if is_granted('ROLE_SUPER_ADMIN')  %}

                        {% if user.roles[0] == 'ROLE_ADMIN' or user.roles[0] == 'ROLE_CUSTOMER' %}

                            <tr>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.email }}</td>
                                <td id="tdLogin" data-login="{{ user.login }}">{{ user.login }}</td>
                                <td>{{ user.roles[0] }}</td>

                                <td>
                                    <span id="spanStatus">{{ user.status }}</span>
                                    <form action="" method="post">
                                        <select name="selectStatus" data-id="{{ user.id }}" class="form-control status">
                                            <option class="optionStatusBtn defaultValue" value="{{ user.status }}"></option>
                                            <option class="optionStatusBtn" value="valide">validé</option>
                                            <option class="optionStatusBtn" value="en attente">en attente</option>
                                            <option class="optionStatusBtn" value="desactive">desactive</option>
                                        </select>
                                        {#<input type="hidden" id="idUser"value="{{ user.id }}">#}
                                    </form>

                                </td>
                                <td>
                                    <a href="{{ path('handle_users_edit', {'id' : user.id })}}">Modifier</a>
                                </td>
                            </tr>

                        {% endif %}

                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')  %}

                        {% if user.roles[0] == 'ROLE_CUSTOMER' %}

                            <tr>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.email }}</td>
                                <td id="tdLogin" data-login="{{ user.login }}">{{ user.login }}</td>
                                <td>{{ user.roles[0] }}</td>

                                <td>
                                    <span id="spanStatus">{{ user.status }}</span>
                                    <form action="" method="post">
                                        <select name="selectStatus" data-id="{{ user.id }}" class="form-control status">
                                            <option class="optionStatusBtn defaultValue" value="{{ user.status }}"></option>
                                            <option class="optionStatusBtn" value="valide">validé</option>
                                            <option class="optionStatusBtn" value="en attente">en attente</option>
                                            <option class="optionStatusBtn" value="desactive">desactive</option>
                                        </select>
                                        {#<input type="hidden" id="idUser"value="{{ user.id }}">#}
                                    </form>

                                </td>
                                <td>
                                    <a href="{{ path('handle_users_edit', {'id' : user.id })}}">Modifier</a>
                                </td>
                            </tr>

                        {% endif %}

                    {% endif %}

                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}

{% block javascripts %}

    <script language="javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script language="javascript">

        $(document).ready(function(){
            $('select.status').on('change',function () {

                // On take value of the select if it change
                let optionValue = $(this).val();
                // Url for ajax
                let path = '/update/ajax';
                // Data Id needed to get the id ( otherwise jquery take only the first select of the loop )
                let id = $(this).attr("data-id");
                // Take login .Need to display flash message
                let login = $("#tdLogin").attr("data-login");

                alert($('.defaultValue').val(optionValue));

                $.ajax({
                    type:"POST",
                    url: path,
                    data: { // data send by the form, we need id and new status
                        id:id,
                        status:optionValue
                    },
                    success:function() {
                        // Update table span status
                        $('#spanStatus').text(optionValue);
                        // Update default option select value
                        $('.defaultValue').val(optionValue);
                        // Update element after success to notice the user
                        $('.spanFlashMessage')
                            .text("Vous avec passé le status de " + login + " en " + optionValue)
                            .css('display','block')
                        ;
                    }
                })


            });
        });

    </script>

{% endblock %}
